.logo {
    @include font-size($h1-size);
    line-height: 1em;
    padding-bottom: .5em;
    display: block;
        
    a {
        color: #444;
        text-decoration: none;
        font-family: $base-font-alternate;
        font-weight: 500;
        
        span {
            opacity: .5;
        }
        
        &:hover,
        &:focus {
            color: $base-secondary-color;
        }
    }
}