.page-header {
    display: block;
    margin-bottom: 3rem;
    
    .logo {
        margin-bottom: 0;
    }
}

    .page-description {
        @include font-size($h6-size);
        margin-top: 0;
        color: #444;
    }
    
    .page-nav {
        font-weight: 700;
        letter-spacing: 1px;
        
        a {
            text-decoration: none;
            margin-right: .5em;
            color: #aaa;
            -webkit-font-smoothing: antialiased;
            
            &:hover,
            &:focus {
                color: $base-secondary-color;
            }
        }
    }