.pagination {
    display: block;
    position: relative;
    padding-top: .25em;

    .page_number {
        display: block;
        text-align: center;
    }
    
    .previous,
    .next {
        position: absolute;
        top: 0;
        padding: .25em 1em .2em;
        background: #f7f7f7;
        font-family: $base-font-alternate;
        text-decoration: none;
        border-radius: $base-border-radius;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
    
    a.previous,
    a.next {
        &:hover,
        &:focus {
            background: $base-primary-color;
            color: #fff;
            -webkit-font-smoothing: antialiased;
        }
    }
    
    .previous {
        left: 0;
    }
    
    .next {
        right: 0;
    }
}