.post {
    margin: 3em 0;
}

    .post-header {
        & + * {
            margin-top: 0;
        }
    }

    .post-title {
        @include font-size($h2-size);
        font-family: $base-font-alternate;
        margin-bottom: 0;
        -webkit-font-smoothing: antialiased;
        line-height: 1em;
        padding-bottom: .5em;
        font-weight: 500;
        
        a {
            color: $base-primary-color;
            text-decoration: none;
            display: block;
            
            &:hover,
            &:focus {
                color: $base-secondary-color;
                
                &:after {
                    content: "\2192";
                }
            }
        }
    }
    
    .post-footer {
        @include font-size($h6-size);
        margin-top: -.5em;
        color: #aaa;
    }
    
        .post-tags {
            margin-left: .5em;
        }