/*------------------------------------*\
    $CONTENTS
\*------------------------------------*/

/**
 * CONTENTS............You're reading it!
 * LEAD IMPORTS........Necessary function imports
 * BASE................Base variables
 * SIZES...............Typographic scaling
 * QUOTES..............Quotation-related variables
 * NEAT................Bourbon Neat Variables
 * IMPORTS.............Assorted imports
 */





/*------------------------------------*\
    $LEAD IMPORTS
\*------------------------------------*/

@import 'base/utils';





/*------------------------------------*\
    $BASE
\*------------------------------------*/

$base-background-color:   #fff;
$base-text-color:         #444;
$base-primary-color:      #F04155;
$base-secondary-color:    #556270;

$base-font: "freight-text-pro", Georgia, "Times New Roman", Times, serif;
$base-font-alternate: "din-condensed-web", Helvetica, Arial, sans-serif;

$base-border-radius: 4px;





/*------------------------------------*\
    $SIZES
\*------------------------------------*/

$base-font-size:   18px!default;
$base-line-height: px(1.5)!default;

$giga-size:        px(5)!default;
$mega-size:        px(4)!default;
$kilo-size:        px(3)!default;
$deca-size:        px(2.5)!default;

$h1-size:          px(2)!default;    // .alpha
$h2-size:          px(1.75)!default; // .beta
$h3-size:          px(1.5)!default;  // .gamma
$h4-size:          px(1.33)!default; // .delta
$h5-size:          px(1)!default;    // .epsilon
$h6-size:          px(.9)!default;   // .zeta

$milli-size:       px(.8)!default;
$micro-size:       px(.667)!default;





/*------------------------------------*
    $QUOTES
 *------------------------------------*/

$english-quotes:  true!default;
$open-quote:      null;
$close-quote:     null;

@if $english-quotes != true{
    $open-quote:  \00AB;
    $close-quote: \00BB;
}





/*------------------------------------*\
    $NEAT
\*------------------------------------*/

$max-width: 52rem;
$gutter: 3.5em;





/*------------------------------------*\
    $IMPORTS
\*------------------------------------*/

/**
 * Base styles
 */
 
@import 'base/normalize';
@import 'base/colors';
@import 'base/typography';
@import 'base/links';


/**
 * External Libraries
 */

@import 'lib/bourbon';
@import 'lib/neat';


/**
 * Module styles
 */

@import 'modules/page-header';
@import 'modules/logo';
@import 'modules/post';
@import 'modules/pagination';


/**
 * Layout styles
 */

@import 'layout/container';



