---
layout: default
title: Suspect Semantics
---

<section class="posts">
{% for post in paginator.posts %}
    <article class='post'>
        <header class='post-header'>
            <h2 class='post-title'>
                <a href='{{ post.url }}' title='{{ post.title }}'>
                    {{ post.title }}
                </a>
            </h2>
        </header>
        
        {{ post.excerpt }}
        
        <footer class='post-footer'>
            <time datetime='{{post.date | date_to_xmlschema }}'>{{post.date | date_to_long_string }}</time>
            <span class='post-tags'>
            {% for tag in post.tags %}
                #{{ tag }}
            {% endfor %}
            </span>
        </footer>
    </article>
{% endfor %}
</section>

<section class='pagination'>
    {% if paginator.previous_page %}
        {% if paginator.previous_page == 1 %}
            <a class='previous' href='/'>
                Previous
            </a>
        {% else %}
            <a class='previous' href='/posts/{{ paginator.previous_page }}'>
                Previous
            </a>
        {% endif %}
    {% else %}
        <span class='previous'>
            Previous
        </span>
    {% endif %}
    <span class='page_number'>
        {{ paginator.page }} of {{ paginator.total_pages }}
    </span>
    {% if paginator.next_page %}
        <a class='next' href='/posts/{{ paginator.next_page }}'>
            Next
        </a>
    {% else %}
        <span class='next'>
            Next
        </span>
    {% endif %}
</section>