.container {
    width: 90%;
    margin: 2em auto;
}

@media screen and (min-width: $max-width) {
    .container {
        @include outer-container();
        margin: 4em auto 10em;
    }
    
        .page-header {
            @include span-columns(3);
        }
    
            .logo {
                font-size: $kilo-size;
            }
            
            .page-description {
                border-bottom: 1px solid #eee;
                border-top: 1px solid #eee;
                padding: 1.5em 0;
            }
            
            .page-nav {
                padding-top: .25em;
                
                a {
                    margin: 0;
                    display: block;
                    padding: .25em 0 .15em;
                    position: relative;
                    
                    &:hover::after,
                    &:focus::after {
                        content: "\2192";
                        position: absolute;
                        top: .2em;
                        right: 0;
                    }
                }
            }

        .content {
            @include span-columns(9);
            @include omega();
        }
        
            .post {
                margin-top: 1.75em;
            }
}