<header class='page-header'>
    <h1 class='logo'>
        <a href='/' title='Suspect Semantics'>
            <span>Suspect</span> Semantics
        </a>
    </h1>
    <p class='page-description'>
        A sparse collection of prose, poetry, and small thoughts by Andrew Brinker. Feel free to wander.
    </p>
    <nav class='page-nav'>
        <a href='http://andrewbrinker.com' title='About The Author' target='_blank'>About The Author</a>
        <a href='/feed.xml' title='Subscribe via RSS' target='_blank'>Subscribe via RSS</a>
    </nav>
</header>