/**
 * html font size rem fix
 *
 * Rems are calculated relative to the html element. This simultaneously
 *   normalizes the document font size and guarantees that rem measurements
 *   work correctly.
 */
html,
body {
    @include font-size($base-font-size);
}


/**
 * body font family
 *
 * Sets the document's base font family to the value set in the config file.
 */
body {
    font-family: $base-font;
}


/**
 * Header and helper class font sizes
 *
 * Sets all header and helper class font sizes to the appropriate value based on
 *   the variables set in the config file.
 */
h1, .alpha   { @include font-size($h1-size);   }
h2, .beta    { @include font-size($h2-size);   }
h3, .gamma   { @include font-size($h3-size);   }
h4, .delta   { @include font-size($h4-size);   }
h5, .epsilon { @include font-size($h5-size);   }
h6, .zeta    { @include font-size($h6-size);   }
    .giga    { @include font-size($giga-size); }
    .mega    { @include font-size($mega-size); }
    .kilo    { @include font-size($kilo-size); }


/**
 * Header margin resets
 *
 * Guarantees that all headers have normalized margins.
 */
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: .5em 0;
}