/**
 * @include font_size($font-size, $line-height: true)
 *
 * This mixin calculates a good cross browser font size and line height based on
 *    the font-size passed in. Use this instead of sizing directly when possible
 */
@mixin font-size($font-size, $line-height:true){
    font-size: $font-size;
    font-size:($font-size / 16px) * 1rem;
    @if $line-height == true {
        line-height:ceil($font-size / $base-line-height) * ($base-line-height / $font-size);
    }
}


/**
 * em($target, $context: $base-font-size)
 *
 * This function is a standard pixel-to-em converter. It uses the base font size
 *   as the default sizing context, but that can be changed by passing in a new
 *   sizing context.
 */
@function em($target, $context: $base-font-size) {
    @return ($target / $context) + 0em;
}


/**
 * px($target, $context: $base-font-size)
 *
 * This function is a standard em-to-pixel converter. It uses the base font size
 *   as the default sizing context, but that can be changed by passing in a new
 *   sizing context.
 */
@function px($target, $context: $base-font-size) {
    @return ($target * $context) + 0px;
}