---
layout: default
---

<article class='post'>
    <header class='post-header'>
        <h2 class='post-title'>
            <a href='{{ page.url }}' title='{{ page.title }}'>
                {{ page.title }}
            </a>
        </h2>
    </header>
    
    {{ content }}
    
    <footer class='post-footer'>
        <time datetime='{{page.date | date_to_xmlschema }}'>{{page.date | date_to_long_string }}</time>
    </footer>
</article>